name: mondoo-scan

on:
  pull_request:
  push:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Scan with Mondoo
        uses: mondoohq/actions@main
        with:
          service_account_credentials: ${{ secrets.MONDOO_CLIENT_ACCOUNT }}
          scan_type: docker_image
          docker_image_name: ubuntu:22.04